* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  border: none;
  background: none;
  font-size: 18px;
}

button:hover {
  width: 120px;
  height: 30px;
  border: 2px solid darkcyan;
  border-radius: 10px;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 0 200px;
  margin-top: 50px;
}

.header__section {
  display: flex;
  gap: 50px;
}

.color-flipper {
  color: darkcyan;
}

.color {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 250px;
  gap: 50px;
}

h1 {
  width: 450px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
  padding: 10px;
  border-radius: 10px;
}

.clickMe-Btn {
  padding: 5px;
  border: 2px solid darkcyan;
  border-radius: 10px;
  box-shadow: 0 9px #999;
}

.clickMe-Btn:active {
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
