* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  border: none;
  background: none;
  font-size: 18px;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 0 200px;
  margin-top: 50px;
}

.header__section {
  display: flex;
  gap: 50px;
}

.color {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 400px;
  gap: 50px;
}

h1 {
  width: 500px;
  height: 50px;
  display: flex;
  align-items: center;
  background-color: black;
  color: white;
  padding: 10px;
}
